body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #2b2d8a;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 24px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.assignment {
    background-color: white;
    margin: 10px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
}

.assignment:hover {
    transform: translateY(-5px);
}

h2 {
    color: #2b2d8a;
    
    font-weight: 800;
    background-color: rgba(113, 120, 177, 0.2);
    display: inline;
    padding: 2px 11px;
    border-radius: 8px;
    
}

.assignment h3 {
    margin-top: 0;
}

.assignment p {
    margin-bottom: 10px;
}

.assignment a {
    color: #2b2d8a;
    text-decoration: none;
}

.assignment a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #2b2d8a;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

h3{
    color: #2b2d8a;

}
